a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

.container {
    text-align: center;
    border: 1px solid #2f0747;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.input-container {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, rgb(85, 4, 161), #2575fc);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(5, 3, 100, 0.429);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h4
{
    margin: 0px;
    padding: 0px;
}

.chatheader {
    background-color: rgba(5, 3, 100, 0.429);
    width: 60%;
    text-align: right;
    border: 1px solid #2f0747;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.chatcontainerdescription {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.224);
    padding: 20px;
    margin: 5px;
    border-radius: 50px;
    color: white;
}

.chatcontainer {
    text-align: left;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.box {
    background-color: rgba(5, 3, 100, 0.429);
    border: 1px solid rgba(5, 3, 100, 0.429);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    color: #ffffff;
    outline: #2575fc;
    outline-width: 5px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    border: 0px solid rgb(44, 0, 109);
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #2575fc;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-submit {
    border: 0px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background: #2575fc;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background: #05a;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-row {
    display: contents;
}

.calendar-cell {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
}

.back-button, .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2f0747;
    border: 1px solid #2f0747;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.back-button:hover, .logout-button:hover {
    background-color: #1b0429;
}

.tickets {
    background-color: #2575fc;
    border: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.tickets p {
    margin: 5px 0;
}

.ticket-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* view_assigned_tickets.html */
.ticket-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: 20px 0;
}

.ticket-table th{
    background-color: rgba(30, 27, 27, 0.263);
    color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
}

.rounded-header-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rounded-header-middle {
    border-radius: 0;
}

.rounded-header-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ticket-table td {
    background-color: rgba(30, 27, 27, 0.263);
    border: 1px solid black;
    padding: 6px;
    text-align: left;}

.rounded-body-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rounded-body-middle {
    border-radius: 0;
}

.rounded-body-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* end of view_assigned_tickets.html */



.table {
    color: white;
}

.table thead th {
    background-color: #343a40;
    color: white;
}

.table tbody td {
    background-color: #3a3f44;
    color: white;
}