.container {
    text-align: center;
    border: 1px solid #2f0747;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    color: white;
}

.box {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px 20px;
    color: #155724;
    cursor: pointer;
}

.input-container {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.box {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    color: #ffffff;
    outline: #05a;
    outline-width: 5px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    border: 1px solid #c3c4e6;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #08d;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}


.button:hover {
    background: #05a;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar-row {
    display: contents;
}

.calendar-cell {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
}

.back-button, .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2f0747;
    border: 1px solid #2f0747;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.back-button:hover, .logout-button:hover {
    background-color: #1b0429;
}

.tickets {
    background-color: #2575fc;
    border: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.tickets p {
    margin: 5px 0;
}

.ticket-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.ticket-button-resolved {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #1e6439;
    border: 1px solid #1e6439;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.ticket-button-resolved:hover{
    background-color: #0d2a18;
    border: 1px solid #0d2a18;
    border-radius: 5px;
}

.ticket-button-not-resolved {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #d02b1f;
    border: 1px solid #d02b1f;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.ticket-button-not-resolved:hover {
    background-color: #591611;
    border: 1px solid #591611;
    border-radius: 5px;
}

.table {
    color: white;
}

.table thead th {
    background-color: #343a40;
    color: white;
}

.table tbody td {
    background-color: #3a3f44;
    color: white;
}