<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ticket Log</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="chatheader">
        <h2>Asynchronous Chat</h2>
        <h4>Ticket ID: {{ticket.id}}</h4>
        <h4>Category: {{ticket.category}}</h4>
        <h4>Status: {{ticket.status}}</h4>
        
        <div class="chatcontainerdescription">
            <div>Description: {{ticket.description}}</div>
        </div>
        
        <div class="chatcontainer">
            <div>
                {{ticket.user.username}} - Time: This is my ticket 
                <br> <br>
                {{ticket.assigned_employee.username}} - Time: Hi im the employee
                <br> <br>
                {{ticket.assigned_employee.username}} - Time: What is happening?
            </div>
        </div>
        
        <button class="back-button" onclick="window.location.href='{% if user.user_type == 'admin' %}{% url 'admin_dashboard' %}{% elif user.user_type == 'employee' %}{% url 'view_assigned_tickets' %}{% else %}{% url 'view_tickets' %}{% endif %}'">Back</button>
    </div>
</body>
</html>
