<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        body a {
            color: white !important;         /* Set font color to white */
            text-decoration: none; /* Remove underline */
        }
    </style>
</head>
<body>
    <div class="container">
        <h2> Hello, {{ username }}</h2>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'signup' %}'">New Admin</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'admin_calendar' %}'">Calendar</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'admin_view_tickets' %}'">View Tickets</button>
        </div>
        <div class="button-container">
            <button>
            <a href="{% url 'chat_room' room_name='general' %}">Live Chat</a>
            </button>
        </div>
        <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    </div>
</body>
</html>
