<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Ticket Table</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="container">
    <h2> All Tickets</h2>
    <table class="ticket-table">
        <thead>
            <tr>
                <th class="rounded-header-left">Ticket ID</th>
                <th class="rounded-header-middle"> Assigned Employee</th>
                <th class="rounded-header-middle">Ticket User</th>
                <th class="rounded-header-middle">Category</th>
                <th class="rounded-header-middle">Description</th>
                <th class="rounded-header-middle">Status</th>
                <th class="rounded-header-middle">Time Estimate (Hrs)</th>
                <th class="rounded-header-right">Time Spent (Hrs)</th>
            </tr>
        </thead>
        <tbody>

            {% for ticket in tickets %}
            <tr>
                <td class="rounded-header-left">{{ ticket.id }}</td>
                <td class="rounded-header-middle">
                    <form method="post" action="{% url 'update_ticket_assigned_employee' ticket.id %}">
                        {% csrf_token %}
                        <select name="assigned_employee" onchange="this.form.submit()">
                            {% for employee in employees %}
                                <option value="{{ employee.id }}" {% if ticket.assigned_employee and ticket.assigned_employee.id == employee.id %} selected {% endif %}>
                                    {{ employee.username }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
                <td class="rounded-header-middle">{{ ticket.user.username }}</td>
                <td class="rounded-header-middle">{{ ticket.category }}</td>
                <td class="rounded-header-middle">{{ ticket.description }}</td>
                <td class="rounded-header-middle">{{ ticket.status }}</td>
                <td class="rounded-header-middle">{{ ticket.time_estimate }}</td>
                <td class="rounded-header-middle">{{ ticket.time_spent }}</td>
                <td class="rounded-header-right">
                    <a href="{% url 'achat_ticket' ticket.id %}">View Ticket</a>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No tickets found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="back-button" onclick="window.location.href='{% url 'admin_dashboard' %}'">Back</button>
</div>
</body>
</html>
