<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTicket Calendar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>This is the Calendar</h2>
        </div>
        <form>
            <div class="button-container">
                <button type="button" onclick="window.location.href='{% url 'admin_user' %}'">Back</button>
            </div>
        </form>
    </div>
</body>
</html>
