<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        #chat-messages {
            padding: 10px;
            height: 300px;
            overflow-y: scroll;
            overflow-x: scroll;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
        .message {
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
        }
    </style>
    <script>
        const roomName = "{{ room_name }}";

        const chatSocket = new WebSocket(
            'ws://10.136.93.244:8000/ws/chat/' + roomName + '/'
        );

        chatSocket.onopen = function(event) {
            console.log('WebSocket is open now.');
        };

        chatSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const message = data.message;
            const username = data.username;

            console.log('Received message:', message, 'from', username);
            const chatMessages = document.querySelector('#chat-messages');
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            messageElement.innerText = `${username}: ${message}`;
            chatMessages.appendChild(messageElement);
            chatMessages.scrollTop = chatMessages.scrollHeight;  // Auto scroll to the latest message
        };

        chatSocket.onclose = function(event) {
            console.log('WebSocket is closed now.');
        };

        chatSocket.onerror = function(error) {
            console.log('WebSocket Error: ' + error);
        };

        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-input');
            const message = messageInputDom.value;
            console.log('Sending message:', message);
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        }
    </script>
</head>
<body>
    <div class="chatheader">
        <h2>Live Chat</h2>
        <div id="chat-container" class="chatcontainer">
            <div id="chat-messages"></div>
            <input id="chat-input" type="text" placeholder="Type your message...">
            <button id="chat-send" onclick="sendMessage()">Send</button>
        </div>
        <button class="back-button" onclick="window.location.href='{% if user.user_type == 'admin' %}{% url 'admin_dashboard' %}{% elif user.user_type == 'employee' %}{% url 'employee_dashboard' %}{% else %}{% url 'normal_dashboard' %}{% endif %}'">Back</button>
    </div>
</body>
</html>
