<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        body a {
            color: white !important;         /* Set font color to white */
            text-decoration: none; /* Remove underline */
        }
    </style>
</head>
<body>
    <div class="container">

        <h2> Hello, {{ username }}</h2>

        {% if notifications %}
            <div class="notification">
                <p>You have new notifications:</p>
                <ul>
                    {% for notification in notifications %}
                        <li>Ticket #{{ notification.ticket.id }} requires a time estimate.</li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>No new notifications.</p>
        {% endif %}

        <div class="button-container">
            <button onclick="window.location.href='{% url 'employee_view_tickets' %}'">View Assigned Tickets</button>
        </div>
        <div class="button-container">
            <button onclick="location.href='{% url 'chat_room' room_name='general' %}'">Live Chat</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'employee_hours' %}'">View Hours</button>
        </div>
        <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    </div>
</body>
</html>
