<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Hours</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Assign Hours</h2>
        </div>
        <button class="back-button" onclick="window.location.href='{% if user_type == 'admin' %}{% url 'admin_dashboard' %}{% else %}{% url 'employee_dashboard' %}{% endif %}'">Back</button>
    </div>
</body>
</html>
