<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2> Hello, {{ username }}</h2>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'view_assigned_tickets' %}'">View Assigned Tickets</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'chat' room_name='general' %}'">Live Chat</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'employee_hours' %}'">View Hours</button>
        </div>
        <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    </div>
</body>
</html>
