<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h1>Live Chat</h1>
            <h2>Lowest priority</h2>
        </div>
        <button class="back-button" onclick="window.location.href='{% url 'admin_dashboard' %}'">Back</button>
    </div>
</body>
</html>
