<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2> Hello, {{ username }}</h2>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'ticket_request' %}'">Submit Ticket</button>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'view_tickets'  %}'">View Tickets</button>
        </div>
        <div class="button-container">
            <a href="{% url 'chat_room' room_name='general' %}">Go to Chat</a>
        </div>
        <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    </div>
</body>
</html>
