<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2> Hello, {{ username }}</h2>
        <div class="button-container">
            <button onclick="window.location.href='{% url 'ticket_request' %}'">Submit Ticket</button>
            <button onclick="window.location.href='{% url 'chat' room_name='room_name' %}'">Live Chat</button>
            <button onclick="window.location.href='{% url 'normal_dashboard' %}'">View Tickets</button>
        </div>
        <button class="logout-button" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
    </div>
</body>
</html>
