<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Profile</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'styles.css' %}">
   <script>
       function toggleEdit(field) {
           var displayElement = document.getElementById(field + '-display');
           var editElement = document.getElementById(field + '-edit');
           if (displayElement.style.display === 'none') {
               displayElement.style.display = 'block';
               editElement.style.display = 'none';
           } else {
               displayElement.style.display = 'none';
               editElement.style.display = 'block';
           }
       }


       function handleKeyPress(event, field) {
           if (event.key === 'Enter') {
               event.preventDefault();
               document.getElementById('profile-form').submit();
           }
       }
   </script>
</head>
<body>
   <div class="container">
       <h1>Profile</h1>
       <form id="profile-form" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <div>
               <label for="id_username">Username:</label>
               <span id="username-display">{{ user.username }} <button type="button" onclick="toggleEdit('username')">Edit</button></span>
               <span id="username-edit" style="display: none;">
                   {{ profile_form.username }} <button type="button" onclick="toggleEdit('username')">Cancel</button>
               </span>
           </div>
           <br>
           <div>
               <label for="id_email">Email:</label>
               <span id="email-display">{{ user.email }} <button type="button" onclick="toggleEdit('email')">Edit</button></span>
               <span id="email-edit" style="display: none;">
                   {{ profile_form.email }} <button type="button" onclick="toggleEdit('email')">Cancel</button>
               </span>
           </div>
       </form>
      
       <br>
       <h2>Change Password</h2>
       <form id="password-form" method="post">
           {% csrf_token %}
           {{ password_form.as_p }}
           <button type="submit" name="change_password">Change Password</button>
       </form>
      
       <br>
       <a href="{% url 'normal_dashboard' %}">Back to Dashboard</a>
   </div>


   <script>
       document.getElementById('id_username').addEventListener('keypress', function(event) {
           handleKeyPress(event, 'username');
       });
       document.getElementById('id_email').addEventListener('keypress', function(event) {
           handleKeyPress(event, 'email');
       });
   </script>
</body>
</html>
