<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Reset Password</h2>
        </div>
        <p>Email: <strong>{{ email }}</strong></p>
        <p>Username: <strong>{{ username }}</strong></p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
