<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Assigned Tickets</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="ticket-container">
        <h2> {{ username }}'s Tickets</h2>
        <div class="tickets">
            <! when database for user tickets is added, change url redirection and color of button based on ticket info djask> 
            <button class="ticket-button-resolved" onclick="window.location.href='{% url 'employee_dashboard' %}'">My iPad broke</button>
            <button class="ticket-button-not-resolved" onclick="window.location.href='{% url 'employee_dashboard' %}'">I spilled water on PC</button>
            <button class="ticket-button-resolved" onclick="window.location.href='{% url 'employee_dashboard' %}'">CAPSLOCK BROKEN</button>
            <button class="ticket-button-resolved" onclick="window.location.href='{% url 'employee_dashboard' %}'">How do I install Minecraft??</button>
        </div>
        <button class="back-button" onclick="window.location.href='{% url 'employee_dashboard' %}'">Back</button>
    </div>
</body>
</html>
